@use "../../../assets/styles/" as *;

.LandingPageHero {
  background-image: url("../images/bg_hero_desktop.svg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 pixRem(120);

  width: 100%;
  @include md() {
    padding: 0 pixRem(72);
  }
  @include sm() {
    background-image: url("../images/bg_hero_mobile.svg");
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: pixRem(56) pixRem(18) pixRem(42) pixRem(18);
  }

  .left {
    display: flex;
    flex-direction: column;
    row-gap: pixRem(26);

    @include sm() {
      text-align: center;
      align-items: center;
    }

    h1 {
      font-weight: 400;
      font-size: pixRem(72);
      line-height: 120%;
      width: pixRem(600);

      span {
        color: $tertiary;
      }

      @include md() {
        font-size: pixRem(40);
        width: pixRem(420);
      }
      @include sm() {
        font-size: pixRem(36);
        width: pixRem(345);
      }
    }

    h4 {
      font-weight: 400;
      font-size: pixRem(24);
      width: pixRem(550);

      @include md() {
        font-size: pixRem(16);
        width: pixRem(380);
      }
      @include sm() {
        font-size: pixRem(18);
        width: pixRem(320);
      }
    }

    .hero_buttons {
      display: flex;
      column-gap: pixRem(32);

      @include md() {
        column-gap: pixRem(24);
      }
      @include sm() {
        display: none;
      }

      .players_stats,
      .sls_history {
        padding: 14px 0;
        width: 192px;
        background: none;
        border-radius: 8px;
        border: 1px solid $tertiary;
        font-family: "Solway";
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        transition: all ease 0.5s;
        text-decoration: none;

        @include md() {
          padding: 8px 0;
          width: 128px;
          border-radius: 7px;
          font-size: 16px;
        }
      }

      .sls_history {
        background-color: $tertiary;
        border: none;
        color: white;
      }

      .players_stats:hover {
        color: white;
        background-color: $tertiary;
      }

      .sls_history:hover {
        background-color: $primary;
      }
    }
  }

  .hero_image {
    height: 650px;
    width: auto;

    @include md() {
      height: 450px;
    }
    @include sm() {
      display: none;
    }
  }

  .mobile_hero_image {
    display: none;

    @include md() {
      display: none;
    }
    @include sm() {
      display: block;
      height: 375px;
      margin: 14px 0;
    }
  }

  .mobile_hero_buttons {
    display: none;

    @include md() {
      display: none;
    }

    @include sm() {
      display: flex;
      column-gap: pixRem(24);

      .players_stats,
      .sls_history {
        background: none;
        border: 1px solid $tertiary;
        font-family: "Solway";
        font-weight: 700;
        padding: 10px 0;
        width: 142px;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        transition: all ease 0.5s;
        text-decoration: none;
      }

      .sls_history {
        background-color: $tertiary;
        border: none;
        color: white;
      }

      .players_stats:hover {
        color: white;
        background-color: $tertiary;
      }

      .sls_history:hover {
        background-color: $primary;
      }
    }
  }
}
