@use "../../../assets/styles/" as *;

.LandingPageSLSPlayers {
  background-image: url("../images/bg_sls_players_desktop.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: pixRem(100);
  padding: pixRem(120) pixRem(120) pixRem(0) pixRem(120);

  width: 100%;
  @include md() {
    padding: pixRem(80) pixRem(60) pixRem(0) pixRem(60);
    row-gap: pixRem(48);
  }
  @include sm() {
    background-image: url("../images/bg_sls_players_mobile.png");
    padding: pixRem(80) pixRem(18) pixRem(45) pixRem(18);
    row-gap: pixRem(24);
  }

  .textHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: pixRem(12);

    h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 120%;
      color: #fbfbfb;
      @include md() {
        font-weight: 500;
        font-size: 28px;
      }
      @include sm() {
        font-weight: 400;
        font-size: 18px;
      }
    }

    .secondaryTextBox {
      display: flex;
      column-gap: 12px;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      transition: all ease 0.2s;

      @include sm() {
        column-gap: 8px;
      }

      h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: $tertiary;
        cursor: pointer;
        @include md() {
          font-size: 20px;
        }
        @include sm() {
          font-size: 16px;
        }
      }
    }

    .secondaryTextBox:hover {
      transform: scale(1.04);
    }
  }

  .playersCards {
    display: flex;
    width: 90%;
    justify-content: space-between;

    @include md() {
      width: 100%;
    }
    @include sm() {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      row-gap: 16px;
    }
  }
}
