@use "../../../assets/styles/" as *;

.LandingPageAwards {
  width: 100%;
  background-image: url("../images/landing_page_award_design.png");
  background-size: cover;
  background-position: center;
  padding: 0 pixRem(120);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include md() {
    padding: 0 pixRem(72);
  }

  @include sm() {
    flex-direction: column;
    align-items: center;
    padding: pixRem(0) pixRem(18) pixRem(42) pixRem(18);
  }

  .image_container {
    width: 40%;
    height: auto;

    @include md() {
      width: 40%;
    }

    @include sm() {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .text_container {
    width: 50%;
    padding: pixRem(150) 0 pixRem(123) pixRem(131);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: pixRem(45);

    @include md() {
      width: 60%;
      padding: pixRem(56) 0 pixRem(56) pixRem(56);
      row-gap: pixRem(26);
    }

    @include sm() {
      width: 100%;
      padding: pixRem(56) 0;
      row-gap: pixRem(26);
    }

    h4 {
      font-size: 36px;
      font-weight: 500;
      line-height: 43px;
      letter-spacing: -0.3333333432674408px;
      text-align: start;
      color: $fontGrey;

      @include md() {
        font-size: pixRem(20);
        line-height: pixRem(24);
      }

      @include sm() {
        font-size: pixRem(20);
        line-height: pixRem(24);
        text-align: center;
      }
    }

    p {
      padding-top: pixRem(12);
      font-size: pixRem(18);
      font-weight: 400;
      line-height: 31px;
      letter-spacing: -0.3333333432674408px;
      text-align: left;
      color: $fontGrey;
      font-family: "Sora" sans-serif !important;

      @include md() {
        font-size: pixRem(16);
        line-height: 27px;
      }

      @include sm() {
        text-align: center;
        font-size: pixRem(16);
        line-height: 27px;
      }
    }

    .mobile_image {
      display: none;

      @include sm() {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .card_item_container {
      display: flex;
      flex-direction: column;
      row-gap: pixRem(23);

      .cardItem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 36px 28px;
        column-gap: 37px;

        border-radius: 20px;

        @include md() {
          padding: pixRem(20);
        }

        @include sm() {
          padding: pixRem(20);
        }

        img {
          padding: 20px;
          width: pixRem(80);
          height: auto;

          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.05) 100%
          );
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px 20px 0px 20px;

          @include md() {
            padding: pixRem(11.3);
            width: pixRem(46.74);
          }

          @include sm() {
            padding: pixRem(11.3);
            width: pixRem(46.74);
          }
        }

        h6 {
          font-weight: 500;
          font-size: pixRem(20);
          line-height: pixRem(24);
          // letter-spacing: 0.666667px;
          color: $fontGrey;

          @include sm() {
            font-weight: 500;
            font-size: pixRem(12);
            line-height: pixRem(14);
            letter-spacing: 0.666667px;
            color: $fontGrey;
          }
        }

        p {
          font-weight: 400;
          font-size: pixRem(14);
          line-height: pixRem(22);
          letter-spacing: pixRem(-0.333333);
          padding-top: pixRem(15.5);
          color: $fontGrey;

          @include sm() {
            text-align: start;
            font-size: pixRem(8);
            line-height: pixRem(13);
            padding-top: pixRem(8.42);
            letter-spacing: pixRem(-0.189524);
          }
        }
      }
    }
  }
}
