@use "../../../assets/styles/" as *;

// to aviod repetition
@mixin flexItem () {
  display: flex;
  align-items: center;
  justify-content: center;
  @content
}

.LandingPageFeatures {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  padding: pixRem(50) 0;


  .patternImage {
    position: absolute;
    object-fit: cover;
    object-position: center;

    @include sm() {
      right: 0;
      top: 0;
    }
    @include md() {
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &_featured {
    z-index: 1;
    padding: 0 pixRem(120);
    width: 100%;
    @include flexItem() {
      justify-content: space-between;
      @include sm() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 pixRem(10);
      }

      @include md() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 pixRem(10);
      }
      
    }

    .featured_content_sm {
      display: none;
      @include sm() {
        @include flexItem(){flex-direction: column; row-gap: pixRem(20)};
        text-align: center;
        width: 100%;
        padding: pixRem(25) pixRem(50)  pixRem(25);
        @include flexItem();
      }
    }

    &_image {
      margin: pixRem(100) pixRem(0) pixRem(10) pixRem(-40);
      width: 450px;
      height: 450px;
      @include sm() {
        width: 100%;
        margin: pixRem(0);
      }

      @include md() {
        width: 100%;
        margin: pixRem(0);
        
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .featured {
      &_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: pixRem(20);

        @include sm() {
          width: 100%;
          padding: pixRem(120) 0 pixRem(25);
          @include flexItem();
        }
        @include md() {
          width: 75%;
          padding: pixRem(25);
          @include flexItem();
        }

        header h2 {
          font-size: pixRem(36);
          @include sm() {display: none;}
        }
        @include sm() {
          header h2 {
            display: none;
          }
          .featured_subtext{
            display: none;
          }
        }
      }

      &_cards {
        display: flex;
        flex-direction: column;
        row-gap: pixRem(25);
        padding: pixRem(25) pixRem(0);
      }

      &_card {
        @include flexItem();
        padding: pixRem(20);
        box-shadow: pixRem(0) pixRem(2) pixRem(4) rgba(0, 0, 0, 0.1);
        border-radius: pixRem(5);
        column-gap: pixRem(20);

        &_image {
          @include flexItem();
          padding: pixRem(10);
          border-radius: pixRem(20) pixRem(20) pixRem(0) pixRem(20);
          box-shadow: pixRem(0) pixRem(4) pixRem(4) rgba(0, 0, 0, 0.25);
          min-width: pixRem(80);
          min-height: pixRem(78);
        }

        h3 {
          font-size: pixRem(20);
          margin: pixRem(5) pixRem(0);
        }
      }
    }


  }


}