@use "../../assets/styles/" as *;

.AwardsPage {
  display: flex;
  flex-direction: column;
  font-family: "Solway", serif;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @include sm() {
  }
}
