@use "../../assets/styles/" as *;

.AwardsPage {
  display: flex;
  flex-direction: column;
  font-family: "Solway", serif;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  @include sm() {
    min-height: 80vh;
  }
}
