@use "../../assets/styles/" as *;

.SplashPage_dark {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $darkModeBackground;
  img {
    width: 50px;
    height: 50px;
  }
}

.SplashPage_light {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $lightModeBackground;
  img {
    width: 50px;
    height: 50px;
  }
}

.landingloader {
  animation: front 3s linear infinite;
}

@keyframes front {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7.7deg);
  }
  50% {
    transform: rotate(69.3deg);
  }
  75% {
    transform: rotate(201deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
