@use "../../assets/styles/" as *;

.AboutPage {
  display: flex;
  flex-direction: column;
  font-family: "Solway", serif;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;

  @include sm() {
  }

  .AboutPage_Features {
    width: 100%;
    background-image: url("./images/features_background_desktop.png");
    background-size: cover;
    background-position: center;

    @include md() {

    }

    @include sm() {
      background-image: url("./images/features_background_mobile.png");
    }
  }
}
