@use "../../assets/styles/" as *;

.PlayersPage {
  display: flex;
  flex-direction: column;
  font-family: "Solway", serif;
  width: 100%;
  align-items: center;

  @include sm() {
  }

  .Players_containers {
    width: 100%;
    background-image: url("./images/bg_playersList_desktop.svg");
    background-size: cover;
    background-position: center;

    padding: pixRem(100) pixRem(120);

    @include md() {
      padding: pixRem(44) pixRem(72);
    }
    @include sm() {
      background-image: url("./images/bg_playersList_mobile.svg");
      background-size: cover;
      background-position: center;
      padding: pixRem(30) pixRem(18);
    }
  }
}
