@use "../../../assets/styles/" as *;

.DevelopmentTeamHeader {
  width: 100%;
  background-image: url("../images/header_image.png");
  background-size: cover;
  background-position: center;
  padding: pixRem(58) pixRem(120) pixRem(100) pixRem(120);
  row-gap: pixRem(24);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  @include md() {
    padding: pixRem(32) pixRem(72);
    row-gap: 18px;
  }
  @include sm() {
    padding: pixRem(52) pixRem(18) pixRem(80) pixRem(18);
    row-gap: 17px;
  }

  .heading_text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;

    @include sm() {
      padding: 0;
    }

    .subheading {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: $extended;

      @include md() {
        font-size: 16px;
      }

      @include sm() {
        text-align: center;
        font-size: 16px;
      }
    }

    .heading {
      font-weight: 500;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
      width: 75%;

      @include md() {
        font-size: 32px;
        width: 90%;
      }

      @include sm() {
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        width: 100%;
      }
    }
  }

  .supporting_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;

    @include md() {
      font-size: 14px;
      line-height: 22px;
    }

    @include sm() {
      font-size: 16px;
    }
  }

  .closeButton {
    position: absolute;
    top: 5vh;
    right: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    img {
      width: 40%;
      height: auto;
    }

    @include md() {
      top: 4vh;
      right: 72px;

      width: 40px;
      height: 40px;
      img {
        width: 40%;
        height: auto;
      }
    }

    @include sm() {
      top: 2vh;
      right: 18px;

      width: 32px;
      height: 32px;
      img {
        width: 40%;
        height: auto;
      }
    }
  }

  .closeButton:hover {
    background-color: #a9a9a9;
  }
}
