@use "../../../assets/styles/" as *;

.AboutHero {
    display: flex;
    flex-direction: column;
    gap: pixRem(18);
    padding: pixRem(96) pixRem(130);
    text-align: center;
    background-image: url('../images/HeaderSectionLg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    
    p, h1{
      color: #ffffff;
    }
    
    .heading{
      font-size: pixRem(48);
      font-weight: 500;
    }
    
    .subheading{
      color: #3F8CFF;
      font-size: pixRem(24);
      text-transform: capitalize;    
    }
 
  @include sm() {
    padding: pixRem(50);
    gap: pixRem(10);

    h1{
      font-size: pixRem(40);
    }
  }
}






