@use "../../../assets/styles/" as *;

.AboutMetrics {
  padding: 0 pixRem(112) pixRem(96);
  background-image: url('../images/MetricsSectionLg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 


  p{
    color: #ffffff;
  }
  
  .container{
    display: flex;
    padding: pixRem(64);
    align-items: center;
    gap: pixRem(32);
   justify-content: center;
  }

  .Metrics_NumberBox{
    display: flex;
    flex-direction: column;
    gap: pixRem(20);
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: pixRem(32) pixRem(24);
    border-radius: pixRem(8);
    width: pixRem(341);
    border: pixRem(1) solid rgba(255, 255, 255, 0.5);
    
    .number{  
      font-weight: 500;
      font-size: pixRem(60);
      letter-spacing: -0.02em
    }
  
    .title{
      font-size: pixRem(18);
      font-weight: 500;
      text-transform: capitalize;
    }
    
    .desc{
      font-size: pixRem(16);
      font-weight: 400;
    }
  } 

  @include sm() {
    padding: pixRem(64) pixRem(20);
    background-image: url('../images/MetricsSectionSm.png');
    
    .container{
      display: flex;
      flex-direction: column;
      padding: pixRem(32) pixRem(24);
      align-items: center;
      gap: pixRem(32);
     justify-content: center;
    }

    .Metrics_NumberBox{     
      width: pixRem(287);
      
      .number{  
        font-size: pixRem(48);
      }    
    } 
  }
}
