@use "../../../assets/styles/" as *;

.AboutMetrics2 {
  width: 100%;
  padding: pixRem(0) pixRem(120) pixRem(96) pixRem(120);

  @include md() {
    padding: pixRem(0) pixRem(72) pixRem(60) pixRem(72);
  }
  @include sm() {
    padding: pixRem(64) pixRem(18);
  }

  .image_Card {
    background-image: url("../images/About_Metrics_desktop_bg.png");
    background-size: cover;
    background-position: center;

    width: 100%;
    padding: pixRem(64);

    display: flex;
    justify-content: space-between;
    column-gap: pixRem(32);

    @include md() {
      padding: pixRem(40);
      column-gap: pixRem(24);
    }
    @include sm() {
      padding: pixRem(32) pixRem(24);
      flex-direction: column;
      justify-content: space-between;
      column-gap: pixRem(0);
      row-gap: pixRem(32);
    }
  }
}

.Metric_detail_card {
  width: 100%;
  padding: pixRem(32) pixRem(24);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  text-align: center;
  row-gap: pixRem(12);

  h2 {
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    color: #ffffff;
  }

  .subText_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: pixRem(8);

    h5 {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;

      @include md() {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
