@use "../../../assets/styles/" as *;

.AboutHero {
  display: flex;
  flex-direction: column;
  padding: pixRem(96) pixRem(80);
  text-align: center;
  background-image: url("../images/HeaderSectionLg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 101%;

  p,
  h1 {
    color: #ffffff;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0 pixRem(32);
    align-items: center;
    justify-content: center;
    gap: pixRem(32);
  }

  .subheading {
    color: #3f8cff;
    font-size: pixRem(24);
    text-transform: capitalize;
  }

  .heading {
    font-size: pixRem(48);
    font-weight: 500;
  }

  .support_text {
    padding: 0 pixRem(35.5);
    font-weight: 400;
    line-height: pixRem(30);
  }

  @include md() {
    padding: pixRem(80) pixRem(20);
  }

  @include sm() {
    background-image: url("../images/HeaderSectionSm.svg");
    padding: pixRem(57) pixRem(20) pixRem(96);

    .container {
      padding: 0;
      gap: pixRem(10);
      text-align: center;
    }

    .subheading {
      font-size: pixRem(16);
      font-weight: 500;
    }

    .heading {
      font-size: pixRem(36);
      font-weight: 400;
    }

    .support_text {
      padding: 0;
      font-weight: 400;
      font-size: pixRem(18);
    }
  }
}
