@use "../../assets/styles/" as *;

.LandingPage {
  display: flex;
  flex-direction: column;
  font-family: "Solway", serif;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;

  @include sm() {
  }
}
