// Page Colors
$primary: #213f7d;
$secondary: #0052b0;
$tertiary: #0a4aaa;

$fontGrey: #8f90a6;
$fontGreyIsolated: #344054;
$fontGreyLighter: #5f5f7e;
$darkModeFontPrimary: #fbfbfb;
$darkModeFontSecondary: #8f90a6;
$darkModeBackground: #001530;

$lightModeFontPrimary: #555770;
$test: #667085;
$lightModeFontSecondary: #001530;
$lightModeBackground: #fbfbfb;

$strikerPrimary: #01b3ce;
$goalkeeperPrimary: #3aac8a;
$defenderprimary: #f93b3d;
$midfielderPrimary: #fd8a3c;
