// Page Colors
$primary: #213f7d;
$secondary: #0052b0;

$fontGrey: #8f90a6;

$darkModeFontPrimary: #fbfbfb;
$darkModeFontSecondary: #8f90a6;
$darkModeBackground: #001530;

$lightModeFontPrimary: #555770;
$lightModeFontSecondary: #001530;
$lightModeBackground: #fbfbfb;
